<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notes
    </ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button fill="clear" (click)="common.openSearch()" *ngIf="userData.isSearchActive">
        <ion-icon name="search" class="iconScale" ></ion-icon>
      </ion-button> -->
      <ion-button (click)="addNote()" >
        <ion-icon name="add" ></ion-icon>
      </ion-button>
      <ion-button (click)="logout()" >
        <ion-icon name="power" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col size="12" *ngFor="let note of notes">
      <ion-card>
        <ion-card-header>
          {{note.note}}
        </ion-card-header>
       <ion-row>
        <ion-col size="6">
          <ion-button expand="full" (click)="update(note)">  Update  <ion-icon name="create"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" (click)="delete(note)">  Delete  <ion-icon name="trash" ></ion-icon></ion-button>
        </ion-col>
       </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>